build
.vscode
CMakeLists.txt.JyzCrE
CMakeLists.txt.ltnTjw
CMakeLists.txt.user.nsAlKz
CMakeLists.txt.user.VyiBmJ
content/App.qml.dfopZU
content/Screen01.ui.qml.autosave.DOebUO
content/Screen01.ui.qml.autosave.KZEFwD
content/Screen01.ui.qml.autosave.NRYxfH
content/Screen01.ui.qml.EWlfDV
content/Screen01.ui.qml.iYewUl
SatoriManager.qmlproject.qtds.sPeFKc
